@use 'Main';



.component {
	min-width: 330px;
	min-height: 100px;
}
.chat { 
	height: 11em;
	background-color: rgb(147, 163, 255);
}
.members { 
	background-color: rgb(225, 160, 255);
}
.events { 
	background-color: rgb(255, 171, 122);
}
.trades { 
	background-color: rgb(255, 142, 89);
}
.attacks { 
	background-color: rgb(255, 120, 66);
}
.special { 
	background-color: tomato;
}

