@use 'Main';

.core {
	width: 100%;
	height: 100%;
}
.component {
	min-width: 400px;
	height: 150px;
}
.chat { 
	background-color: lightblue;
}
.log { 
	background-color: tomato;
}
.lobby { 
	background-color: cyan;
}
.actions { 
	background-color: lightgreen;
}
.other { 
	background-color: gold;
}

