@use 'Main';



.component {
	min-width: 330px;
	min-height: 100px;
}
.container_0 { 
	height: 11em;
	background-color: rgb(156, 167, 226);
}
.container_1 { 
	background-color: rgb(135, 152, 253);
}
.container_2 { 
	background-color: rgb(211, 145, 255);
}
.container_3 { 
	background-color: rgb(189, 109, 221);
}
.container_4 { 
	background-color: rgb(255, 120, 66);
}
.container_5 { 
	background-color: tomato;
}

