/* css shared by all client */



/* fill horizontal space */
.flex-row {
	display: flex;  
	flex-flow: row wrap;
}
/* fill vertical space */
.flex-column {
	display: flex;
	flex-flow: column wrap;
}
.with-gaps {
	gap: 2px;
}
/* adjust to with other flex elements */
.flex { 
	flex: 1;
}
/* fill all space */
.flex-max { 
	flex: 1 1 100%;
}



.no-min-width {
	min-width: 0px;
}
/* content seperation inside element */
.padding-small {
	margin: 2px; 
}
.full-size {
	width: 100%;
	height: 100%;
}


